In [2]:
import pandas as pd
df = pd.read_csv('/Users/patrickcullinane/Desktop/data/train.csv')
df.columns = [c.lower() for c in df.columns] #postgres doesn't like capitals or spaces

from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:cull2@CULL@localhost:5432/Molecule')

df.to_sql("data_table", engine)

ValueError: Table 'data_table' already exists.

In [3]:
df.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [4]:
query = "SELECT molecule_name scalar_coupling_constant FROM data_table WHERE scalar_coupling_constant > 85"
df_2 = pd.read_sql_query(query, engine); df_2.head()

  scalar_coupling_constant
0         dsgdb9nsd_000005
1         dsgdb9nsd_000008
2         dsgdb9nsd_000008
3         dsgdb9nsd_000008
4         dsgdb9nsd_000009

In [72]:
values = df.type.unique()

In [76]:
import numpy as np
df_3 = pd.pivot_table(df,index='molecule_name',columns='type', aggfunc='size', fill_value=0)
df_3.head()

type              1JHC  1JHN  2JHC  2JHH  2JHN  3JHC  3JHH  3JHN
molecule_name
dsgdb9nsd_000001     4     0     0     6     0     0     0     0
dsgdb9nsd_000002     0     3     0     3     0     0     0     0
dsgdb9nsd_000003     0     0     0     1     0     0     0     0
dsgdb9nsd_000005     1     0     0     0     1     0     0     0
dsgdb9nsd_000007     6     0     6     6     0     0     9     0

In [77]:
df_3

type              1JHC  1JHN  2JHC  2JHH  2JHN  3JHC  3JHH  3JHN
molecule_name
dsgdb9nsd_000001     4     0     0     6     0     0     0     0
dsgdb9nsd_000002     0     3     0     3     0     0     0     0
dsgdb9nsd_000003     0     0     0     1     0     0     0     0
dsgdb9nsd_000005     1     0     0     0     1     0     0     0
dsgdb9nsd_000007     6     0     6     6     0     0     9     0
dsgdb9nsd_000008     3     0     1     3     0     0     3     0
dsgdb9nsd_000009     4     0     4     3     0     4     0     0
dsgdb9nsd_000010     3     0     3     3     0     0     0     3
dsgdb9nsd_000011     4     0     4     3     0     0     3     0
dsgdb9nsd_000012     1     2     2     1     1     0     2     0
dsgdb9nsd_000013     8     0    10     7     0     6    12     0
dsgdb9nsd_000014     5     0     6     4     0     1     8     0
dsgdb9nsd_000017     4     0     4     2     0     0     4     0
dsgdb9nsd_000018     6     0     6     6     0     6     0     0
dsgdb9nsd_000019     3     2     5     4     0     2     0     3
dsgdb9nsd_000021    10     0    12     9     0    18     9     0
dsgdb9nsd_000023     2     0     2     0     0     2     0     0
dsgdb9nsd_000026     2     0     2     0     0     2     0     0
dsgdb9nsd_000027     1     0     1     0     0     0     0     1
dsgdb9nsd_000028     2     0     2     0     0     0     1     0
dsgdb9nsd_000029     6     0     6     6     0     6     0     0
dsgdb9nsd_000030     6     0     8     4     0     6     6     0
dsgdb9nsd_000031     5     0     7     4     0     3     6     2
dsgdb9nsd_000032     2     2     4     2     2     2     4     2
dsgdb9nsd_000033     3     0     4     1     0     4     2     0
dsgdb9nsd_000034     2     0     3     1     0     1     2     2
dsgdb9nsd_000037     4     0     0     3     0     4     0     0
dsgdb9nsd_000038     3     0     4     1     0     1     4     0
dsgdb9nsd_000039    10     0    14     8     0    10    16     0
dsgdb9nsd_000040     7     0    10     5     0     6    12     0
...                ...   ...   ...   ...   ...   ...   ...   ...
dsgdb9nsd_036235     8     0    12     4     2     8     8     6
dsgdb9nsd_036236     9     0    17     2     4    23     8     2
dsgdb9nsd_036237    10     0    24     2     0    27    12     0
dsgdb9nsd_036238     9     0    18     2     3    22     9     3
dsgdb9nsd_036239     9     0    17     2     4    20     8     4
dsgdb9nsd_036240     8     0    18     1     0    18     8     0
dsgdb9nsd_036241     9     0    18     2     3    19     9     5
dsgdb9nsd_036242     9     0    17     2     4    19     8     4
dsgdb9nsd_036245     8     0    17     2     3    19     9     5
dsgdb9nsd_036248     8     0    17     2     3    16     9     7
dsgdb9nsd_036249     8     0    16     2     4    16     8     6
dsgdb9nsd_036250    10     0    24     2     0    24    12     0
dsgdb9nsd_036251     9     0    18     2     3    16     9     5
dsgdb9nsd_036253     8     0    18     1     0    18     8     0
dsgdb9nsd_036254     9     0    17     2     4    19     8     2
dsgdb9nsd_036255     7     1    13     1     6    15     6     4
dsgdb9nsd_036256     7     0    11     1     4    13     4     2
dsgdb9nsd_036257     9     0    23     2     0    21    12     2
dsgdb9nsd_036261     8     0    16     2     4    16     8     4
dsgdb9nsd_036263     6     0    10     1     4    10     4     4
dsgdb9nsd_036267     8     1    20     1     2    20    10     2
dsgdb9nsd_036268     8     0    18     1     0    18     8     0
dsgdb9nsd_036269     9     0    17     2     4    19     8     2
dsgdb9nsd_036270     7     1    13     1     6    15     6     4
dsgdb9nsd_036271     7     0    11     1     4    13     4     2
dsgdb9nsd_036272     9     0    23     2     0    21    12     2
dsgdb9nsd_036277     8     0    16     2     4    16     8     4
dsgdb9nsd_036279     6     0    10     1     4    10     4     4
dsgdb9nsd_036282     9     0    15     2     4    21     7     4
dsgdb9nsd_036283     5     0    12     2     0    15     8     2

[22924 rows x 8 columns]

In [78]:
query = "SELECT molecule_name, COUNT(1) OCCURENCES \
            FROM data_table \
            GROUP BY molecule_name \
            ORDER BY OCCURENCES ASC"
df_4 = pd.read_sql_query(query, engine); df_4.head()

      molecule_name  occurences
0  dsgdb9nsd_000003           1
1  dsgdb9nsd_021441           2
2  dsgdb9nsd_000828           2
3  dsgdb9nsd_003946           2
4  dsgdb9nsd_021849           2

In [38]:
query = "SELECT molecule_name, type, COUNT(1) OCCURENCES \
            FROM data_table \
            WHERE type = '1JHC' \
            GROUP BY type, molecule_name \
            ORDER BY OCCURENCES ASC"
df_3 = pd.read_sql_query(query, engine); df_3

          molecule_name  type  occurences
0      dsgdb9nsd_029154  1JHC           1
1      dsgdb9nsd_029156  1JHC           1
2      dsgdb9nsd_029162  1JHC           1
3      dsgdb9nsd_029167  1JHC           1
4      dsgdb9nsd_029171  1JHC           1
5      dsgdb9nsd_029217  1JHC           1
6      dsgdb9nsd_029220  1JHC           1
7      dsgdb9nsd_029221  1JHC           1
8      dsgdb9nsd_029224  1JHC           1
9      dsgdb9nsd_029225  1JHC           1
10     dsgdb9nsd_029226  1JHC           1
11     dsgdb9nsd_007884  1JHC           1
12     dsgdb9nsd_029227  1JHC           1
13     dsgdb9nsd_029228  1JHC           1
14     dsgdb9nsd_029229  1JHC           1
15     dsgdb9nsd_029230  1JHC           1
16     dsgdb9nsd_029232  1JHC           1
17     dsgdb9nsd_029247  1JHC           1
18     dsgdb9nsd_029248  1JHC           1
19     dsgdb9nsd_029250  1JHC           1
20     dsgdb9nsd_029254  1JHC           1
21     dsgdb9nsd_029256  1JHC           1
22     dsgdb9nsd_029257  1JHC           1
23     dsgdb9nsd_021502  1JHC           1
24     dsgdb9nsd_029258  1JHC           1
25     dsgdb9nsd_021505  1JHC           1
26     dsgdb9nsd_021511  1JHC           1
27     dsgdb9nsd_021513  1JHC           1
28     dsgdb9nsd_000854  1JHC           1
29     dsgdb9nsd_000855  1JHC           1
...                 ...   ...         ...
22781  dsgdb9nsd_015712  1JHC          16
22782  dsgdb9nsd_007490  1JHC          16
22783  dsgdb9nsd_001104  1JHC          16
22784  dsgdb9nsd_006221  1JHC          16
22785  dsgdb9nsd_013883  1JHC          16
22786  dsgdb9nsd_006419  1JHC          16
22787  dsgdb9nsd_006134  1JHC          16
22788  dsgdb9nsd_002720  1JHC          16
22789  dsgdb9nsd_013622  1JHC          16
22790  dsgdb9nsd_010219  1JHC          16
22791  dsgdb9nsd_005892  1JHC          16
22792  dsgdb9nsd_015080  1JHC          16
22793  dsgdb9nsd_010727  1JHC          16
22794  dsgdb9nsd_005994  1JHC          16
22795  dsgdb9nsd_001691  1JHC          16
22796  dsgdb9nsd_006156  1JHC          16
22797  dsgdb9nsd_017621  1JHC          16
22798  dsgdb9nsd_009844  1JHC          16
22799  dsgdb9nsd_006804  1JHC          16
22800  dsgdb9nsd_007006  1JHC          16
22801  dsgdb9nsd_013452  1JHC          16
22802  dsgdb9nsd_010356  1JHC          18
22803  dsgdb9nsd_005989  1JHC          18
22804  dsgdb9nsd_007390  1JHC          18
22805  dsgdb9nsd_008946  1JHC          18
22806  dsgdb9nsd_006799  1JHC          18
22807  dsgdb9nsd_005806  1JHC          18
22808  dsgdb9nsd_006051  1JHC          18
22809  dsgdb9nsd_005889  1JHC          18
22810  dsgdb9nsd_005811  1JHC          18

[22811 rows x 3 columns]

In [39]:
df_3[df_3['molecule_name']=='dsgdb9nsd_000001']

         molecule_name  type  occurences
3508  dsgdb9nsd_000001  1JHC           4

In [47]:
query = 'SELECT * FROM crosstab( \
            "SELECT molecule_name, type, ct \
             FROM tbl \
             ORDER  BY 1,2") \
             AS ct ("Section" text, "Active" int, "Inactive" int);
            
df_4 = pd.read_sql_query(query, engine); df_4

SyntaxError: EOL while scanning string literal (<ipython-input-47-0cd470b4d3c4>, line 5)